@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    /* background-image: url('sur.jpg'); */
    background: rgb(23,4,32);
    background: linear-gradient(0deg, rgb(117, 43, 196) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", serif;
}


.decoration{
    position: absolute;
    left: 20em;
    top: 9em;
    font-weight: bolder;
    opacity: 50%;
    font-size: 20px;
    line-height: 5px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;

    gap: 10px;
    text-transform: capitalize;
    padding: 0px 7px;
}

ul, li, a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    opacity: 45%;
}

ul, li, a:hover{
    opacity: 100%;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 500px; 
}

.kiri{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.kanan{
    display: flex;
    width: 50%;
    justify-content: center;
}

.hero h1{
    font-size: 47px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.range{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.range .line{
    text-transform: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 500px;
    text-align: center;
    font-size: 25px;
}

img{
    width: 9cm;
    height: 9cm;
}

@media (max-width: 576px){
    img{
        width: 7cm;
        height: 7cm;
    }

    .hero{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    
        height: 100svh; 
    }
    
    .hero .kiri{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .kanan{
        display: flex;
    }
}